<div class="col-12 tab-navbar tab-container">
  <ul class="mt-3 nav nav-tabs d-flex">
    <li class="nav-item tab-brand disabled">
      <a
        class="nav-link disabled"
        href="javascript:void(0)"
        [translate]="'Sidebar.CandidateStudentUploadActions'"
      ></a>
    </li>
    <ng-container>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['list']"
          [routerLinkActive]="'active'"
          >{{ "Candidates.Results" | translate }}</a
        >
      </li>
    </ng-container>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active">
      <router-outlet></router-outlet>
      <router-modal></router-modal>
    </div>
  </div>
  <div></div>
</div>
