.text-purple{
  color: #664BF1;
}

.bg-purple{
  background: #664BF1;
}

.border-left-8 {
  border-left-width: 8px !important
}

.border-left-4 {
  border-left-width: 4px !important
}

// formio updates
// todo: this additions should be moven to universis theme

.formio-form .formio-component  .form-control.form-control:disabled,
.formio-form .formio-component  .form-control.ui.fluid.selection[disabled],
.formio-form .formio-component .form-control.form-control[readonly] {
  background-color: #F9F9F9 !important;
}


// disabled textarea
.formio-form .formio-component .formio-component-textarea {
  .card {
    box-shadow: none;
    &.bg-light {
      background-color: #F9F9F9 !important;
      border: 1px solid #E4E7EA;
    }
  }
}
.formio-border-none {
  .form-control {
    border: none;
  }
}
