@import "~bootstrap/scss/functions";
@import "~@universis/theme/scss/bootstrap/variables";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~@universis/theme/scss/coreui/_variables";

.statbox-bottom {
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0;

  &__wrapper {
    @include media-breakpoint-up(sm)  {
      margin-bottom: 260px;

      .statbox-bottom {
        position: fixed;
        z-index: 1;
      }
    }

    @include media-breakpoint-up(lg)  {
      margin-bottom: 0;
    }
  }
}