<div class="col-12 tab-navbar tab-container">
  <ul class="nav  d-flex">
    <li class=" tab-brand disabled">
      <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['../']">
        <i class="fa fa-chevron-left pr-1"></i><span [translate]="'Theses.Title'"></span></a>
    </li>
  </ul>

  <div class="row pt-2 pb-2" *ngIf="model">
    <div class="col-auto">
      <h1 class="my-auto px-0 py-2" *ngIf="model.name !== '' ">
        {{model.name}} </h1>
      <h1 class="row pt-2 pb-2" *ngIf="model.name === '' " class="text-dark">
        <span [translate]="'Theses.NoThesesName'"></span></h1>
    </div>
    <div class="col-auto px-2 py-0 ml-auto" *ngIf="model">
      <app-actions-button [edit]="edit" [actions]="actions"></app-actions-button>
    </div>
  </div>

  <div class="row pt-2 pb-2" *ngIf="isCreate">
    <div class="col-auto">
      <h1 class="text-dark">
        {{'Theses.NewThesis' | translate}}</h1>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
