<div *ngIf="instructors">
  <div class="card" *ngIf="instructors.length > 0">
    <div class="card-body ">
      <div>
        <a [routerLink]="['/exams', courseExamID, 'dashboard', 'instructors']"
          class="text-primary  align-self-center mb-2 float-right ml-auto my-auto"><span
            [translate]="'Expandable.More'"></span></a>
        <div class="row">
          <h5 [translate]="'Exams.Instructors'" class="mr-3 my-auto"></h5>
        </div>
      </div>

      <div id="group-list" class="flex-column">
        <ul class="sis--list-group sis--list-group-header">
          <li class="sis--list-group-item">
            <div class="d-flex justify-content-center align-items-center">
              <div class="sis--list-group-item_lg_column" [translate]="'Instructors.FamilyName'"></div>
              <div class="sis--list-group-item_lg_column" [translate]="'Instructors.GivenName'"></div>
              <div class="sis--list-group-item_lg_column d-none d-md-block" [translate]="'Instructors.Email'"></div>
              <div class="sis--list-group-item_lg_column d-none d-md-block" [translate]="'Instructors.WorkPhone'"></div>
              <div class="sis--list-group-item_lg_column text-right"></div>`
            </div>
          </li>
        </ul>
        <ul class="sis--list-group sis--list-group-body">
          <li class="sis--list-group-item" *ngFor="let instructor of instructors">
            <div class="d-flex justify-content-center align-items-center list-color">
              <div class="sis--list-group-item_lg_column"><span
                  class=" text-dark">{{ instructor?.instructor.familyName }}</span></div>
              <div class="sis--list-group-item_lg_column"><span
                  class="text-dark">{{ instructor?.instructor.givenName }}</span></div>
              <div class="sis--list-group-item_lg_column d-none d-md-block"><span
                  class="text-secondary">{{ instructor?.instructor.email }}</span></div>
              <div class="sis--list-group-item_lg_column d-none d-md-block"><span
                  class="text-secondary">{{ instructor?.instructor.workPhone }}</span></div>
              <div class="sis--list-group-item_lg_column text-right">
                <a [routerLink]="['/instructors', instructor?.instructor.id, 'dashboard', 'overview']"
                  class="text-primary text-decoration-none" [translate]="'Instructors.Preview'"></a>
              </div>

            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div *ngIf="instructors.length == 0">
    <div class="card">
      <div class="card-header d-flex justify-content-between mt-3">
        <h5 class="mr-3  my-auto" [translate]="'Exams.Instructors'"></h5>
        <a [routerLink]="['/exams', courseExamID, 'dashboard', 'instructors']"
          class="text-primary  align-self-center mb-2 float-right ml-auto my-auto"><span
            [translate]="'Expandable.More'"></span></a>
      </div>
      <div class="card-body pt-0 pb-3">
        <div class="card-text row pb-2">
          <div class="col-auto text-dark">
            <span [translate]="'Exams.NoInstructors'"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
