<div>
  <h4 class="mb-3">Preview</h4>
  <div class="row">
    <div class="col">
      <div class="mt-2 col-lg-12">
        <h4 class="mb-1" >Instructions</h4>
        <p>Stack any two blocks in HTML to have them link with a line. Example at the bottom of the page.</p>
        <h4 class="mb-1" >Icon guidelines</h4>
        <ul>
          <li><b>Successful:</b> Use fa-check and fa-stack-1x on icon, text-success and fa-stack-2x on circle.</li>
          <li><b>Failed:</b> Use fa-times and fa-stack-1x on icon, text-danger and fa-stack-2x on circle.</li>
          <li><b>Loading:</b> Use fa-clock, text-secondary and fa-stack-2x on icon, text-white and fa-stack-2x on circle</li>
        </ul>

        <h4 class="mb-4" >Simple Successful Rule</h4>
        <div id="simple-block-success">
          <div class="grad-rule">
            <div class="icon-container">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x text-success"></i>
                <i class="fa fa-check fa-stack-1x fa-inverse"></i>
              </span>
            </div>
            <div class="title">Υποχρεωτικα</div>
            <div class="description">O απαιτούμενος αριθμός μαθημάτων θα πρέπει να είναι μεγαλύτερος ή ίσος με 25.</div>
          </div>
        </div>
        <app-highlight-include [highlight]="'app/previews/components/graduation-simplified/graduation-simplified.component.html#simple-block-success'"></app-highlight-include>

        <h4 class="mb-4" >Simple Failed Rule</h4>
        <div id="simple-block-failed">
          <div class="grad-rule">
            <div class="icon-container">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x text-danger"></i>
                <i class="fa fa-times fa-stack-1x fa-inverse"></i>
              </span>
            </div>
            <div class="title">Υποχρεωτικα</div>
            <div class="description">O απαιτούμενος αριθμός μαθημάτων θα πρέπει να είναι μεγαλύτερος ή ίσος με 42.</div>
          </div>
        </div>
        <app-highlight-include [highlight]="'app/previews/components/graduation-simplified/graduation-simplified.component.html#simple-block-failed'"></app-highlight-include>

        <h4 class="mb-4" >Simple Loading Rule</h4>
        <div id="simple-block-loading">
          <div class="grad-rule">
            <div class="icon-container">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x text-white"></i>
                <i class="far fa-clock fa-stack-2x text-secondary"></i>
              </span>
            </div>
            <div class="title">Εκπονηση Πτυχιακης Εργασιας</div>
            <div class="description">Θα πρέπει να έχει εκπονηθεί πτυχιακή εργασία</div>
          </div>
        </div>
        <app-highlight-include [highlight]="'app/previews/components/graduation-simplified/graduation-simplified.component.html#simple-block-loading'"></app-highlight-include>

        <h4 class="mb-4" >Or Block Rule</h4>
        <div id="or-block">
          <div class="grad-rule">
            <div class="icon-container">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x text-success"></i>
                <i class="fa fa-check fa-stack-1x fa-inverse"></i>
              </span>
            </div>
            <div class="title">Αριθμος ECTS η Αριθμος Διδακτικων Μοναδων</div>
            <div class="description">Απαιτείεται ένα απο τα δύο παρακάτω:</div>
          </div>
          <div class="grad-rule-op or">
            <div class="branch"></div>
            <div class="split"></div>
            <div class="grad-rule-1">
              <div class="grad-rule">
                <div class="icon-container">
                  <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                  </span>
                </div>
                <div class="title">Αριθμος ECTS</div>
                <div class="description">O απαιτούμενος αριθμός ECTS θα πρέπει να είναι μεγαλύτερος ή ίσος με 240.</div>
              </div>
            </div>
            <div class="grad-rule-2">
              <div class="grad-rule">
                <div class="icon-container">
                  <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                  </span>
                </div>
                <div class="title">Αριθμος Διδακτικων Μοναδων</div>
                <div class="description">O απαιτούμενος αριθμός διδακτικών μονάδων θα πρέπει να είναι μικρότερος ή ίσος με 120.</div>
              </div>
            </div>
            <div class="operator-container">
              <div class="operator">
                <span>η</span>
              </div>
            </div>
            <div class="con"></div>
          </div>
        </div>
        <app-highlight-include [highlight]="'app/previews/components/graduation-simplified/graduation-simplified.component.html#or-block'"></app-highlight-include>

        <h4 class="mb-4" >And Block</h4>
        <div id="and-block">
          <div class="grad-rule">
            <div class="icon-container">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x text-danger"></i>
                <i class="fa fa-times fa-stack-1x fa-inverse"></i>
              </span>
            </div>
            <div class="title">Επιλογης Κατευθυνσης και Ειδικης Επιλογης</div>
            <div class="description">Απαιτούνται τα δύο παρακάτω:</div>
          </div>
          <div class="grad-rule-op and">
            <div class="branch"></div>
            <div class="split"></div>
            <div class="grad-rule-1">
              <div class="grad-rule">
                <div class="icon-container">
                  <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                  </span>
                </div>
                <div class="title">Επιλογης Κατευθυνσης</div>
                <div class="description">O απαιτούμενος αριθμός μαθημάτων θα πρέπει να είναι μεγαλύτερος ή ίσος με 5.</div>
              </div>
            </div>
            <div class="grad-rule-2">
              <div class="grad-rule">
                <div class="icon-container">
                  <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x text-danger"></i>
                    <i class="fa fa-times fa-stack-1x fa-inverse"></i>
                  </span>
                </div>
                <div class="title">Ειδικης Επιλογης</div>
                <div class="description">O απαιτούμενος αριθμός μαθημάτων θα πρέπει να είναι μικρότερος ή ίσος με 3.</div>
              </div>
            </div>
            <div class="operator-container">
              <div class="operator">
                <span>και</span>
              </div>
            </div>
            <div class="con"></div>
          </div>
        </div>
        <app-highlight-include [highlight]="'app/previews/components/graduation-simplified/graduation-simplified.component.html#and-block'"></app-highlight-include>

        <h4 class="mb-1" >Stacking Example</h4>
        <p>All the previous elements stacked on top of each other in order</p>
        <div class="grad-rule">
          <div class="icon-container">
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x text-success"></i>
              <i class="fa fa-check fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <div class="title">Υποχρεωτικα</div>
          <div class="description">O απαιτούμενος αριθμός μαθημάτων θα πρέπει να είναι μεγαλύτερος ή ίσος με 25.</div>
        </div>
        <div class="grad-rule">
          <div class="icon-container">
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x text-danger"></i>
              <i class="fa fa-times fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <div class="title">Υποχρεωτικα</div>
          <div class="description">O απαιτούμενος αριθμός μαθημάτων θα πρέπει να είναι μεγαλύτερος ή ίσος με 42.</div>
        </div>
        <div class="grad-rule">
          <div class="icon-container">
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x text-white"></i>
              <i class="far fa-clock fa-stack-2x text-secondary"></i>
            </span>
          </div>
          <div class="title">Εκπονηση Πτυχιακης Εργασιας</div>
          <div class="description">Θα πρέπει να έχει εκπονηθεί πτυχιακή εργασία</div>
        </div>
        <div class="grad-rule">
          <div class="icon-container">
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x text-success"></i>
              <i class="fa fa-check fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <div class="title">Αριθμος ECTS η Αριθμος Διδακτικων Μοναδων</div>
          <div class="description">Απαιτείεται ένα απο τα δύο παρακάτω:</div>
        </div>
        <div class="grad-rule-op or">
          <div class="branch"></div>
          <div class="split"></div>
          <div class="grad-rule-1">
            <div class="grad-rule">
              <div class="icon-container">
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x text-success"></i>
                  <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                </span>
              </div>
              <div class="title">Αριθμος ECTS</div>
              <div class="description">O απαιτούμενος αριθμός ECTS θα πρέπει να είναι μεγαλύτερος ή ίσος με 240.</div>
            </div>
          </div>
          <div class="grad-rule-2">
            <div class="grad-rule">
              <div class="icon-container">
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x text-secondary"></i>
                  <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
              </div>
              <div class="title">Αριθμος Διδακτικων Μοναδων</div>
              <div class="description">O απαιτούμενος αριθμός διδακτικών μονάδων θα πρέπει να είναι μικρότερος ή ίσος με 120.</div>
            </div>
          </div>
          <div class="operator-container">
            <div class="operator">
              <span>η</span>
            </div>
          </div>
          <div class="con"></div>
        </div>
        <div class="grad-rule">
          <div class="icon-container">
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x text-danger"></i>
              <i class="fa fa-times fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <div class="title">Επιλογης Κατευθυνσης και Ειδικης Επιλογης</div>
          <div class="description">Απαιτούνται τα δύο παρακάτω:</div>
        </div>
        <div class="grad-rule-op and">
          <div class="branch"></div>
          <div class="split"></div>
          <div class="grad-rule-1">
            <div class="grad-rule">
              <div class="icon-container">
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x text-success"></i>
                  <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                </span>
              </div>
              <div class="title">Επιλογης Κατευθυνσης</div>
              <div class="description">O απαιτούμενος αριθμός μαθημάτων θα πρέπει να είναι μεγαλύτερος ή ίσος με 5.</div>
            </div>
          </div>
          <div class="grad-rule-2">
            <div class="grad-rule">
              <div class="icon-container">
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x text-danger"></i>
                  <i class="fa fa-times fa-stack-1x fa-inverse"></i>
                </span>
              </div>
              <div class="title">Ειδικης Επιλογης</div>
              <div class="description">O απαιτούμενος αριθμός μαθημάτων θα πρέπει να είναι μεγαλύτερος ή ίσος με 3.</div>
            </div>
          </div>
          <div class="operator-container">
            <div class="operator">
              <span>και</span>
            </div>
          </div>
          <div class="con"></div>
        </div>

    </div>
  </div>
</div>
